.container-grid {
    display: grid;
    grid-template-rows: 80px 1fr;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-areas: 
    ". header ."
    ". main .";
    margin-top: 20px;
}
.header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: center;
}
.jQuery-logo {
    margin-right: 1em;
}
h1 {
    font-size: 36px;
    font-weight: bold;
}
h2 {
    font-size: 28px;
    padding-bottom: 12px;
}
h2 h3 h4 h5 h6 {
    font-family: "klavika-web", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.main {
    grid-area: main;
}

.grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "question"
    "answers"
    "."
    "timer";
    margin-top: 2em;
    text-align: start;
}

.timer {
    grid-area: timer;
}
.question {
    grid-area: question;
}
.question-counter {
    vertical-align: super;
    font-size: 16px;
}
.answers {
    grid-area: answers;
    font-size: 1.2em;
    text-align: start;
    padding-left: auto;
    padding-right: auto;
}
.choices {
    padding-bottom: 6px;
}

#btn {
    margin-top: 6px;
    height: 2em;
}